body{
    background-image:  url("https://github.com/BergstromKelsey/updatedPortfolioassignment/blob/main/assets/wall-bricks-baird.jpg?raw=true");
    background-repeat: repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    position: absolute;
    width: 100% !important;
    z-index: 0;

    }
    
    

    #top{
        box-sizing: border-box;
        padding-left:80px;
        margin-top:-40px;
        background-color:white;
        
    }

    #table{
        box-sizing: border-box;
        font-family: 'Bodoni Moda', serif;
        margin-top:70px;
        margin-left:25%;
        border: solid 2px black;
        width: 50%;
        /* padding-bottom:10px; */
        padding-top:10px;
        background: rgba(255, 253, 254, 0.5);
    }

    #tableTwo{
        box-sizing: border-box;
        font-family: 'Bodoni Moda', serif;
        margin-top:70px;
        margin-left:35%;
        border: solid 2px black;
        width: 30%;
        padding-bottom:10px;
        padding-top:10px;
        background: rgba(255, 253, 254, 0.5);
        
        
    }
    #tableThree{
        box-sizing: border-box;
        font-family: 'Bodoni Moda', serif;
        margin-top:70px;
        margin-left:25%;
        border: solid 2px black;
        width: 50%;
        padding-bottom:10px;
        padding-top:10px;
        background: rgba(255, 253, 254, 0.5);
      
    }
    .aboutMe{
        box-sizing: border-box;
        padding-left:30px; 
        width: 100%;
        /* float: left; */
    }

  
    .img-responsive{
        box-sizing: border-box;
        width: 90%;
        height:60%;
        align-items: center;
        
    }

    .imgTwo-responsive{
        box-sizing: border-box;
        width: 90%;
        height:60%;
        align-items: center;
    }
    

    .btn{
        box-sizing: border-box;
        font-family: 'Bodoni Moda', serif;
        background-color: white;
        color:black;
        border: solid 2px black;
        padding-left:10%;
        margin-top:-10px;
        height:50%;
        font-size:14px;
    
    }
   a{
       color:black;
   }
   a:hover{
       color:gray;
   }
    
   t{
    font-weight:bold;
    font: outline;
    font-family: 'Bodoni Moda', serif;
    font-size:20px;
   }
   *{
	padding: 0;
	margin:0px;
	box-sizing: border-box;
}

.toptitle{
   
	font-family: 'Bodoni Moda', serif;
	font-size: 55px;
	background: white;
}
span{
	margin-top:-30px;
	line-height: .7;
	/* text-shadow: 0 0 2px rgba(0, 0, 0, .45); */
	animation: span 3s ease-in infinite alternate;
}
.main{
	display: flex;
	justify-content: center;
    align-items: flex-start;
    font-family: 'Bodoni Moda', serif;
	font-size: 42px;
}
.letter{
    font-family: 'Bodoni Moda', serif;
	font-size: 42px;
	display: inline-flex;
	height: 30px;
	width: 27px;
	/* border: 2.5px solid #FF1EAD; */
	border: 2.35px solid black;
	border-radius: 14px;
	/* box-shadow:
		0 0 2px rgba(0, 0, 0, .75),
		inset 0 0 2px rgba(0, 0, 0, .45); */

	animation: letter 3s ease-in-out infinite alternate;
}
@keyframes span {
	0%,30%{ margin: 0 15px; }
	70%,100%{ margin: 0 5px; }
}
 @keyframes letter {
	0%,30%{ width: 27px; }
	70%,100%{ width: 30vw; } 
}  

.divided {
    display: flex;
    align-items: center;
  }
  
  .divider {
    flex-grow: 1;
    border-bottom: 1px solid black; 
    margin: 5px
  }

  .zoom:hover {
    transform: scale(1.2);}